# Go related
*.exe
*.test
*.prof
*.out
*.cprof
*.test
*.tprof
*.log
*.svg
*.swp
/go/
/bin/
/pkg/
/vendor/

# Output of the go coverage tool, specifically when used with LiteIDE
liteide
.idea
.vscode

# Dependency directories (remove the comment below if you have a vendor directory.)
# vendor/

# Output of the go.1.11+ 'go list' command
/go.sum

# Output of the go.1.11+ 'go list' command when using modules
/go.mod

# JetBrain GoLand
.idea/
*.iml

# End of file